.background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(104, 104, 104, 0.3);
    position: fixed;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 1);
    outline: 1px solid rgba(26, 25, 25, 0.3);
    border-radius: 12px;
    max-height: 80%;
    margin: 10px;
    padding: 10px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.close {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 100%
}

.cart h2 {
    margin: 10px;
}

.empty {
    margin: 40px;
}

.cart ul{
    padding: 0;
}

.cart-total-container {
    margin-left: 15px;
}
