.main-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.header {
    height: 100px;
}

.main-nav-container h1{
    margin: 10px;
}

.nav {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

/* dropdown nav */
.dropdown-nav-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    position: relative;
}

.icons {
    display: flex;
    flex-direction: row;
}

.menu-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.3s ease-out;
}

.nav-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-nav-container:hover .nav-dropdown {
    display: block;
}

.dropdown-nav-container:hover .menu-icon {
    transform: rotate(180deg);
}

.nav-item{
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: black;
}

.nav-item svg {
    cursor: pointer;
}

.nav-item a.active {
    font-weight: bold;
}

.nav-item a::after {
    content: '';
    transform: scaleX(0);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.nav-item a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

@media only screen and (max-width: 700px) {
    .nav {
       display: none;
    }

    .dropdown-nav-container {
        display: inline-block;
    }
}