.shell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
}

.shell a {
    text-decoration: none;
    color: black;
}

.icon-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h4 {
    margin: 20px;
}

.span {
    margin: 10px;
}

.add-to-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-to-cart-container input {
    width: 30px;
}

.icon {
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    stroke: black;
    stroke-width: 35;
}

.shell:hover {
    cursor: pointer;
}

.shell img{
    height: 8rem;
    width: 8rem;
}

.qty-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-left: 15px;
}
