.shell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
}

.heart-icon-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.heart-icon {
    font-size: 25px;
    padding: 20px;
}

.heart-icon:active{
    --fa-animation-duration: 0.5s
}

.shell:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.shell img{
    height: 8rem;
    width: 8rem;
}