* {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    height: 80vh;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    overflow-y: scroll;
}

.filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    padding: 4px;
    font-size: 16px;
    background-color: white;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(41, 40, 40, 0.1);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    flex-wrap: wrap;
    margin: 20px;
}