* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    min-height: 100vh;
}

.products-container {
    display: block;
    width: 80%;
    margin-left: auto;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin-top: 80px;
}

.filters-dropdown {
    margin-top: 100px;
    display: none;
    
}

.filters-dropdown > button {
    height: 40px;
    position: fixed;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; 
    margin: 10px;
    position: relative; 
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: white; 
    position: fixed;
    top: 150px;
    margin-left: 40px;
}

.label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333;
}

.input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.input:focus {
    border-color: #007bff;
    outline: none;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.filters-title {
    margin-bottom: 10px;
    color: #333;
    margin-top: 150px;
    background-color: #f8f9fa;
    padding: 4px;
    height: 40px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #f8f9fa; 
    transition: background 0.3s, transform 0.2s; 
}

.button:hover {
    cursor: pointer;
    background-color: rgba(41, 40, 40, 0.1); 
    transform: scale(1.05);
}

@media only screen and (max-width: 850px) {
    .search {
        display: none; 
    }

    .products {
        width: 100%;
    }

    .search-container {
        width: 100%;
        display: none;
    }

    .products-container {
        width: 90%;
    }

    .filters-dropdown {
        display: flex;
    }
    
}