* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.hero-image {
    z-index: 1;
    width: 100%;
    position: relative;
}

.hero-text {
    position: absolute;
    opacity: 1;
    top: 30%;
    left: 50%;
}

.images-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}

.image {
    margin: 20px;
}

.hero-image img{
    width: 100%;
}

.about-page-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin: 20px;
}

.about-page-section img {
    max-width: 600px;
    max-height: 400px;
}

.about-page-copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px;
}

.about {
    display: block;
}

@media only screen and (max-width: 800px) {
    .about-page-section {
        flex-direction: column;
    }
}