.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: white;
}

.button-active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: red;
}

